<div class="main-container">
    <div class="row justify-content-end">
        <div class="col-md-1" routerLink="/">Home</div>
        <div class="col-md-1" routerLink="/projects">Projects</div>
        <div class="col-md-1" routerLink="/experience">Experience</div>
        <div class="col-md-1" routerLink="/about">About</div>
        <div class="col-md-1" routerLink="/contact">Contact</div>        
    </div>
    <div class="col">
        <h1>Looking for a web developer?</h1>
        <h3>I'm a web developer and programmer living in Pune,Maharashtra,India.</h3>
        <h3>make web application using angular.</h3>
    </div>
    <div class="">
        <button class="email-btn shadow">
            <a href="mailto:kambleprajakta79@gmail.com">Send me an Email</a>
        </button>
    </div>
     
</div>
  
