<!-- welcome.component.html -->

<section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/profile-picture.jpg" alt="Your Name" class="profile-picture">
        </div>
        <div class="col-md-6">
          <div class="welcome-text">
            <h1>Hello, I'm Prajakta Kamble.</h1>
            <p>Welcome to my digital space where creativity meets technology. I'm a [Your Profession/Title] passionate about [Your Key Interests or Focus Areas]. Explore my portfolio, and let's create something amazing together!</p>
            <a routerLink="/about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
