/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';


:root {

    --color-primary1:  #c89666;
    --color-primary2:#2d545e;

    --color-secondary2: #2d545e;
    --color-secondary1: #e1b382;
    
}