<!-- <footer>
    <div class="main-container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Your Name. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="mailto:your.email@example.com">Contact Me</a>
            </div>
        </div>
    </div>
</footer> -->


<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p> Prajakta Kamble. </p>
        </div>
        <div class="col-md-6 text-md-right">
          <div class="social-icons">
            <a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="#" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
          </div>
          
        </div>
        <div class="col-md-6 text-md-right">
            <p><a href="mailto:your.email@example.com">Contact Me</a></p>
        </div>
      </div>
    </div>
  </footer>
  
  